<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <title>position</title>
    <link rel="stylesheet" type="text/css" href="../static/jquery-easyui-1.9.10/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../static/jquery-easyui-1.9.10/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="../static/jquery-easyui-1.9.10/css/demo.css">
    <script type="text/javascript" src="../static/jquery-easyui-1.9.10/jquery.min.js"></script>
    <script type="text/javascript" src="../static/jquery-easyui-1.9.10/jquery.easyui.min.js"></script>
</head>
<body>
    <table class="easyui-datagrid" id="datatable" title="position" style="width:100%;height:1000px"
           data-options="singleSelect:true,collapsible:true">
    </table>
</body>
<script type="text/javascript" src="../static/monitor_position.js"></script>
</html>

