<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="zh-Hans">
<head>
    <title>Home Page</title>
</head>
<body>
    <h1> 点击超链接访问数据: </h1>
    <p>
        标的头寸会极大降低网站性能，请直接访问数据库
{#        <a href = 'http://192.168.2.2:5000/position' target="_blank"> 标的头寸</a>#}
{#        todo 即便只有后两个也有点卡，为啥？#}
    </p>
    <p>
        <a href = 'http://192.168.2.2:5000/acct_exposure' target="_blank"> 账户敞口</a>
    </p>
    <p>
        <a href = 'http://192.168.2.2:5000/prdcode_exposure' target="_blank"> 产品敞口</a>
    </p>
</body>
</html>